In [1]:
import os
import pandas as pd

In [2]:
table_name = 'temptable.csv'
os.chdir('../data')
df = pd.read_csv(table_name)

In [3]:
df.sample(5)

,player_stats_id,season_id,team_id,player_id,games,points,goals,assists,penalty,p_m,...,player_height,player_weight,player_site_id,player_age,player_name,player_unicode_name,player_khl_id,player_nhl_id,season_year,season_type
12103,13001,23,81,3724,30,6,2,4,16,-2,...,186.0,85.0,3728,47.0,Vladimir Vujtek ...,"vladimir vujtek a.k.a. ""vladimir vujtek, jr.""",NaN,8458587,1997,regular
21358,22727,47,67,8670,14,3,2,1,0,-5,...,188.0,92.0,8675,36.0,Jiri Novotny ...,"jiri novotny a.k.a. ""jiri novotny""",NaN,8469475,2005,regular
13865,14851,35,72,22794,10,3,1,2,0,-1,...,183.0,86.0,22800,53.0,Stéphane Richer,stephane richer,NaN,8450825,2001,regular
4253,4559,35,81,729588,54,31,14,17,27,0,...,193.0,100.0,727,45.0,Fredrik Modin,NaN,NaN,8460556,2001,regular
8569,9216,11,88,8503,20,4,1,3,4,-2,...,188.0,87.0,8507,54.0,Brian McReynolds,brian mcreynolds,NaN,8449487,1993,regular

In [4]:
class DataFrameTransformer:
    def __init__(self, df):
        self.df = df
        self.transforms = []
    
    def add_transform(self, transform):
        self.transforms.append(transform)
    
    def add_transforms(self, transforms):
        for transform in self.transforms:
            self.add_transform(transform)
    
    def fit(self):
        for transform in transforms:
            self.df = transform(self.df)
        return self.df

In [5]:
# Пример - добавить столбец с общим числом очков для игрока

def add_total_points(df):
    df['total_points'] = df['points'].groupby(df['player_id']).transform('sum')
    return df

# ...

In [6]:
# Для добавления в трансформер достаточно написать функцию и добавить ее в массив transforms ниже

transforms = [add_total_points]
transformer = DataFrameTransformer(df)
transformer.add_transforms(transforms)
ext_df = transformer.fit()

In [7]:
ext_df[['player_id', 'total_points']].sample(5)

       player_id  total_points
18699       3661           815
14351       8773           863
18088      20719            24
23632       7303            74
17244       1914            91

## Features for teams

In [8]:
table_name = 'team_stats.csv'
os.chdir('../data')
team_stats_df = pd.read_csv(table_name)

In [9]:
team_stats_df.sample(5)

,id,team_id,season_id,games,points,goals_scored,goals_missed,position_in_championship,position_in_conference,playoff_fact,position_in_division,nhl_id
18756,20097,188,92,36,56.0,111,62,1,1.0,False,1.0,NaN
17318,18556,649,92,37,27.0,69,115,23,11.0,False,6.0,NaN
21676,23221,649,92,37,27.0,69,115,23,11.0,False,6.0,NaN
15485,16595,192,92,38,50.0,94,76,4,2.0,False,1.0,NaN
822,866,724,91,36,NaN,3,94,10,NaN,True,NaN,NaN

In [10]:
import numpy as np

# transform methods for seasons
def add_avg_games_for_season(df, team_stats_df):
    df = df.join(team_stats_df.groupby('season_id')['games'].mean(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_games_count_season']))
    return df

def add_avg_points_for_season(df, team_stats_df):
    df = df.join(team_stats_df.groupby('season_id')['points'].mean(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_points_season']))
    return df

def add_sum_points_for_season(df, team_stats_df):
    df = df.join(team_stats_df.groupby('season_id')['points'].sum(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_sum_points_season']))
    return df

def add_team_count_for_season(df, team_stats_df):
    df = df.merge(team_stats_df.groupby('season_id').apply(lambda x: len(x['team_id'].unique())).rename('feature_team_count_season'), on='season_id')
    return df

# transform methods for teams
def add_avg_games_for_team(df, team_stats_df):
    df = df.join(team_stats_df.groupby('team_id')['games'].mean(), on='team_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_games_count_team']))
    return df

def add_avg_points_for_team(df, team_stats_df):
    df = df.join(team_stats_df.groupby('team_id')['points'].mean(), on='team_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_points_team']))
    return df

def add_sum_points_for_team(df, team_stats_df):
    df = df.join(team_stats_df.groupby('team_id')['points'].sum(), on='team_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_sum_points_team']))
    return df

In [8]:
class DataFrameTransformer:
    def __init__(self, df, team_stats_df):
        self.df = df
        self.team_stats_df = team_stats_df
        self.transforms = []
    
    def add_transform(self, transform):
        self.transforms.append(transform)
    
    def add_transforms(self, transforms):
        for transform in self.transforms:
            self.add_transform(transform)
    
    def fit(self):
        for transform in transforms:
            self.df = transform(self.df, self.team_stats_df)
        return self.df

In [13]:
transforms = [add_avg_games_for_season, add_avg_points_for_season, add_sum_points_for_season, add_team_count_for_season, add_avg_games_for_team, add_avg_points_for_team, add_sum_points_for_team]
transformer = DataFrameTransformer(df, team_stats_df)
transformer.add_transforms(transforms)
ext_df = transformer.fit()

In [14]:
ext_df

,player_stats_id,season_id,team_id,player_id,games,points,goals,assists,penalty,p_m,...,season_year,season_type,total_points,feature_mean_games_count_season,feature_mean_points_season,feature_sum_points_season,feature_team_count_season,feature_mean_games_count_team,feature_mean_points_team,feature_sum_points_team
0,0,41,1479,8517,21,6,0,6,12,1,...,2003,regular,619,82.0,87.370370,2359.0,27,79.360000,86.280000,2157.0
1,18,41,78,9665,20,4,2,2,4,-9,...,2003,regular,11,82.0,87.370370,2359.0,27,79.571429,91.142857,2552.0
2,38,41,82,10673,2,0,0,0,0,0,...,2003,regular,5,82.0,87.370370,2359.0,27,80.111111,78.833333,1419.0
3,48,41,86,8658,69,19,2,17,12,8,...,2003,regular,132,82.0,87.370370,2359.0,27,79.555556,85.629630,2312.0
4,54,41,77,8833,1,0,0,0,0,0,...,2003,regular,71,82.0,87.370370,2359.0,27,79.571429,89.892857,2517.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24214,25752,35,82,5517,81,8,2,6,90,-29,...,2001,regular,16,82.0,86.555556,2337.0,27,80.111111,78.833333,1419.0
24215,25764,35,76,69981,2,0,0,0,5,-1,...,2001,regular,4,82.0,86.555556,2337.0,27,79.571429,76.107143,2131.0
24216,25767,35,64,3734,3,0,0,0,0,0,...,2001,regular,0,82.0,86.555556,2337.0,27,80.521739,90.565217,2083.0
24217,25771,35,69,8634,62,24,5,19,32,-6,...,2001,regular,333,82.0,86.555556,2337.0,27,80.111111,87.500000,1575.0
24218,25786,35,65,67158,3,0,0,0,0,-2,...,2001,regular,1,82.0,86.555556,2337.0,27,79.571429,87.000000,2436.0