In [34]:
import os
import pandas as pd

In [35]:
table_name = 'temptable.csv'
os.chdir('../data')
df = pd.read_csv(table_name)

In [42]:
df.sample(5)

,player_stats_id,season_id,team_id,player_id,games,points,goals,assists,penalty,p_m,...,player_weight,player_site_id,player_age,player_name,player_unicode_name,player_khl_id,player_nhl_id,season_year,season_type,total_points
18536,19735,50,64,8857,17,7,4,3,10,-1,...,198.0,8860,50.0,Pierre Turgeon,pierre turgeon,NaN,8451991,2006,regular,1091
11887,12775,20,85,11559,75,11,4,7,129,1,...,97.0,11563,46.0,Jamie Pushor ...,"jamie pushor a.k.a. ""james m. pushor""",NaN,8458546,1996,regular,60
15861,16916,29,74,9042,31,6,3,3,62,-9,...,88.0,9044,44.0,Todd Harvey,todd harvey,NaN,8459431,1999,regular,223
14925,15955,41,77,9090,64,13,6,7,212,-1,...,108.0,9094,47.0,Donald Brashear,donald brashear,NaN,8459246,2003,regular,205
179,195,26,62,31372,7,0,0,0,2,-5,...,95.0,31360,53.0,Tom Chorske ...,"tom chorske a.k.a. ""thomas patrick chorske""",NaN,8446026,1998,regular,233

In [37]:
class DataFrameTransformer:
    def __init__(self, df):
        self.df = df
        self.transforms = []
    
    def add_transform(self, transform):
        self.transforms.append(transform)
    
    def add_transforms(self, transforms):
        for transform in transforms:
            self.add_transform(transform)
    
    def fit(self):
        for transform in transforms:
            self.df = transform(self.df)
        return self.df

In [38]:
# Пример - добавить столбец с общим числом очков для игрока

def add_total_points(df):
    df['total_points'] = df['points'].groupby(df['player_id']).transform('sum')
    return df

# ...

In [39]:
# Для добавления в трансформер достаточно написать функцию и добавить ее в массив transforms ниже

transforms = [add_total_points]
transformer = DataFrameTransformer(df)
transformer.add_transforms(transforms)
ext_df = transformer.fit()

In [41]:
ext_df[['player_id', 'total_points']].sample(5)

       player_id  total_points
18097      42501            57
2295       38468           130
10494      14507            32
4019       10405            93
10730      18590            23